name: Push to Upstream
on:
  push:
    branches:
      - main 
jobs:
  push-to-origin:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to Upstream Repo
        run: |
          git push https://${{ secrets.MY_PAT }}@github.com/LeDuyNam005/36Tech-demo.git HEAD:Dao-Loc-branch
